layout {
    gaps 6
    center-focused-column "never"
    always-center-single-column
    empty-workspace-above-first
    
    default-column-display "tabbed"
    background-color "transparent"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    focus-ring {
        on
        width 1
        active-color "#1a5b69"
        inactive-color "#080d12"
        urgent-color "#5e0b52"
    }
    
    border {
        on
        width 1
        active-color "#22466e"
        inactive-color "#050a0f"
        urgent-color "#5e0b52"
    }

    shadow {
        on
        softness 20
        spread 3
        offset x=0 y=3
        draw-behind-window true
        color "#00000070"
    }

    tab-indicator {
        on
        hide-when-single-tab
        place-within-column
        gap 4
        width 2
        length total-proportion=1.0
        position "right"
        gaps-between-tabs 2
        corner-radius 4
        
        // Unified with the darker border colors above
        active-color "#22466e"
        inactive-color "#050a0f"
        urgent-color "#5e0b52"
    }

    insert-hint {
        on
        // Unified with the darker focus-ring color above (with 80 hex for 50% opacity)
        color "#1a5b6980" 
    }
}
