	prefer-no-csd
    screenshot-path null

    environment {
        // Fix for STM32CubeMX (Java AWT) blank/missing UI elements on Wayland
        _JAVA_AWT_WM_NONREPARENTING "1"
        
        // Force Electron apps to use native Wayland instead of lagging in XWayland
        ELECTRON_OZONE_PLATFORM_HINT "wayland"
        
        QT_QPA_PLATFORM "wayland"
        QT_QPA_PLATFORMTHEME "gtk3"
        QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
        XDG_CURRENT_DESKTOP "niri"
        XDG_SESSION_TYPE "wayland"
    }

    cursor {
        xcursor-theme "Bibata-Modern-Classic"
    }

    debug {
        // Allows notification actions and window activation from Noctalia.
        honor-xdg-activation-with-invalid-serial
    }

    hotkey-overlay {
       skip-at-startup
    }
